<div class="px-5">
    <div class="text-[1.4rem] font-semibold mb-4 text-[--koyu-dark]">Hakkımızda</div>
    <div class="md:space-y-4 md:pr-40 text-justify text-[--koyu-dark]">
        <img src="/assets/logo.png" class="w-[150px] md:w-[200px] h-auto float-left " alt="">
        <p>
            <strong>Soylu İstif Makinaları A.Ş.</strong> olarak, endüstriyel taşımacılık ve kaldırma ekipmanları
            alanında sektöre değer katan çözümler sunmaktayız. Kurulduğumuz günden bu yana, kaliteyi ve güveni ilke
            edinerek; transpalet, istif makineleri ve kaldırma ekipmanlarının satışı, transpalet tekerleri ve yedek
            parça üretimi konularında uzmanlaşmış bulunmaktayız.
        </p>
        <p>
            Sahip olduğumuz teknik bilgi birikimi, deneyimli ekibimiz ve müşteri odaklı hizmet anlayışımızla; lojistik,
            sanayi, depo ve üretim tesislerinin ihtiyaç duyduğu her türlü istifleme ve taşıma çözümünü en verimli
            şekilde sunuyoruz. Yerli üretim gücümüzle, hem standart hem de özel ihtiyaçlara yönelik yedek parça ve teker
            üretimi gerçekleştirerek sektörde fark yaratıyoruz.
        </p>
        <p>Müşteri memnuniyetini her zaman ön planda tutan firmamız, ürün kalitesi, satış sonrası destek ve teknik
            danışmanlık hizmetleriyle her geçen gün daha da büyümekte ve güçlenmektedir.</p>
        <p>Geleceğin taşımacılık çözümlerini bugünden sunan <strong>Soylu İstif Makinaları A.Ş.</strong>, güvenilir iş ortağınız olmaya
            devam edecektir.</p>
    </div>
</div>