<div class="px-5">
    <div class="text-[1.4rem] font-semibold mb-4 text-[--koyu-dark]">Mesafeli Satış Sözleşmesi</div>
    <div class="space-y-4 md:pr-40 text-justify text-[--koyu-dark]">
        <p><strong>E TİCARET MESAFELİ SATIŞ SÖZLEŞMESİ</strong></p>
        <p><strong>Madde 1- Taraflar</strong></p>
        <p><strong>1.1 Satıcı</strong></p>
        <p>
            Adı: SOYLU İSTİF MAKİNALARI ANONİM ŞİRKETİ. <br>
            Adresi: YUKARI DUDULLU MH. ALINTERİ SK. EKİN SANAYİ SİTESİ B2 BLOK NO:27/66 NO:0 ÜMRANİYE/İSTANBUL <br>
            Telefon: +90 531 868 66 70 <br>
            E mail: info@soyluistif.com.tr
        </p>
        <p><strong>1.2 Alıcı</strong></p>
        <p>
            Adı – Soyadı: <br>
            TCK. No: <br>
            Adresi: <br>
            Telefon: <br>
            E-mail:
        </p>
        <p><strong>Madde 2- Konu</strong></p>
        <p>
            İşbu sözleşmenin konusu, ALICI’ nın SATICI’ ya ait www.soyluistif.com.tr internet sitesinden elektronik
            ortamda siparişini yaptığı aşağıda nitelikleri ve satış ücreti belirtilen ürünün satışı ve teslimi ile
            ilgili olarak Türk Ticaret Kanunu, Borçlar Kanunu ve 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve
            Mesafeli Sözleşmelere Dair Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.
        </p>
        <p>Alıcı, satıcının isim, unvan, açık adres, telefon ve diğer erişim bilgileri, satışa konu malın temel
            nitelikleri, vergiler dahil olmak üzere satış fiyatı, ödeme şekli, teslimat koşulları ve masrafları vs.
            satışa konu mal ile ilgili tüm ön bilgiler ve “cayma” hakkının kullanılması ve bu hakkın nasıl
            kullanılacağı, şikayet ve itirazlarını iletebilecekleri resmi makamlar vs. konusunda açık, anlaşılır ve
            internet ortamına uygun şekilde satıcı tarafından bilgilendirildiğini, bu ön bilgileri elektronik ortamda
            teyit ettiğini ve sonrasında mal sipariş verdiğini is bu sözleşme hükümlerince kabul ve beyan eder.</p>
        <p>
            www.soyluistif.com.tr sitesinde yer alan ön bilgilendirme ve alıcı tarafından verilen sipariş üzerine
            düzenlenen fatura is bu sözleşmenin ayrılmaz parçalarıdır.

        </p>
        <p><strong>Madde 3- Sözleşme Konusu Ürün/Ödeme/Teslimat Bilgileri</strong></p>
        <p>
            Elektronik ortamda alınan ürün/ürünlerin cinsi ve türü, miktarı, marka/modeli, satış bedeli, ödeme şekli,
            teslim alacak kişi, teslimat adresi, fatura bilgileri, kargo ücreti aşağıda belirtildiği gibidir. Fatura
            edilecek kişi ile sözleşmeyi yapan kişi aynı olmak zorundadır. Aşağıda yer alan bilgiler doğru ve eksiksiz
            olmalıdır. Bu bilgilerin doğru olmadığı veya noksan olduğu durumlardan doğacak zararları tamamıyla
            karşılamayı alıcı kabul eder ve ayrıca bu durumdan oluşabilecek her türlü sorumluluğu alıcı kabul eder.
            SATICI gerekli gördüğü durumlarda, ALICI’ nın vermiş olduğu bilgiler gerçekle örtüşmediğinde, siparişi
            durdurma hakkını saklı tutar. SATICI siparişte sorun tespit ettiği durumlarda ALICI’nın vermiş olduğu
            telefon, e-posta ve posta adreslerinden ALICI’ya ulaşamadığı takdirde siparişin yürürlüğe koyulmasını 15
            (onbeş) gün süreyle dondurur. ALICI’nın bu süre zarfında SATICI ile konuyla ilgili olarak iletişime geçmesi
            beklenir. Bu süre içerisinde ALICI’dan herhangi bir cevap alınamazsa SATICI, her iki tarafın da zarar
            görmemesi için siparişi iptal eder. Alınan Ürün /Ürünler
        </p>
        <p>
            Adı, kodu : … adet <br>
            Toplam Satış Bedeli : …. –TL/USD <br>
            Ödeme Şekli: Kredi Kartı/Banka Havalesi (EFT) <br>
            Teslim Edilecek Kişi : <br>
            Telefon numarası : <br>
            Teslim Edilecek Adres : <br>
            Fatura Edilecek Kişi/Kurum : <br>
            Fatura Adresi : <br>
            Vergi Dairesi : <br>
            Vergi Sicil Numarası : <br>
            Kargo Ücreti : … -TL/USD <br>
        </p>
        <p>
            Teslimat adresi Türkiye dışı olan ülkelerde gönderim bedeli ve gümrükte doğabilecek ekstra giderler ayrıca
            ilave edilecektir.
        </p>
        <p><strong>
                Madde 4- Sözleşme Tarihi ve Mücbir Nedenler
            </strong></p>
        <p>
            Sözleşme tarihi, alıcı tarafından siparişin verildiği tarih olan ../../…. tarihidir.
        </p>
        <p>
            Sözleşmenin imzalandığı tarihte mevcut olmayan veya öngörülmeyen, tarafların kontrolleri dışında gelişen,
            ortaya çıkmasıyla taraflardan birinin ya da her ikisinin de sözleşme ile yüklendikleri borç ve
            sorumluluklarını kısmen ya da tamamen yerine getirmelerini ya da bunları zamanında yerine getirmelerini
            olanaksızlaştıran durumlar, mücbir sebep (Doğal afet, savaş, terör, ayaklanma, değişen mevzuat hükümleri, el
            koyma veya grev, lokavt, üretim ve iletişim tesislerinde önemli ölçüde arıza vb.)o larak kabul edilecektir.
            Mücbir sebep şahsında gerçekleşen taraf, diğer tarafa durumu derhal ve yazılı olarak bildirecektir. Mücbir
            sebebin devamı esnasında tarafların edimlerini yerine getirememelerinden dolayı herhangi bir sorumlulukları
            doğmayacaktır. İşbu mücbir sebep durumu 30 (otuz)g ün süreyle devam ederse, taraflardan her birinin, tek
            taraflı olarak fesih hakkı doğmuş olacaktır.
        </p>
        <p><strong>
                Madde 5- Satıcının Hak ve Yükümlülükleri
            </strong></p>
        <p>
            5.1. Satıcı, 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmelere Dair Yönetmelik
            hükümleri uyarınca sözleşmede kendisine yüklenen edimleri mücbir haller dışında eksiksiz yerine getirmeyi
            kabul ve taahhüt eder.
        </p>
        <p>
            5.2. 18 (on sekiz) yaşından küçük kişiler www.soyluistif.com.tr den alışveriş yapamaz. Alıcı, web
            sitesinden alışveriş yaparak 18 yaşından büyük olduğunu taahhüt eder. 18 yaşından büyük olmayan bir
            kullanıcının www.soyluistif.com.tr üzerinden hesap açarak yapmış olduğu eylemlerden Satıcı hiçbir şekilde
            sorumlu tutulamaz.
        </p>
        <p>
            5.3. Sistem hatalarından meydana gelen fiyat yanlışlıklarından www.soyluistif.com.tr sorumlu değildir.
            Buna istinaden satıcı, internet sitesindeki sistemden, dizayndan veya yasadışı yollarla internet sitesine
            yapılabilecek müdahaleler sebebiyle ortaya çıkabilecek tanıtım, fiyat hatalarından sorumlu değildir. Sistem
            hatalarına dayalı olarak alıcı satıcıdan hak iddiasında bulunamaz.
        </p>
        <p>
            5.4. www.soyluistif.com.tr den kredi kartı (Visa, MasterCard vs.) ile alışveriş yapılabilir. Sipariş
            tarihinden itibaren 1 iş günü içinde havalesi yapılmayan siparişler iptal edilir. Siparişlerin işleme alınma
            zamanı, siparişin verildiği an değil, kredi kartı hesabından gerekli tahsilatın yapıldığı banka hesaplarına
            ulaştığı belirlenen andır. Ödemeli gönderi ya da posta çeki gibi müşteri temsilcileri ile görüşülmeden
            gerçekleştirilen ödeme yöntemleri kabul edilmez.
        </p>
        <p>
            5.5. Banka havalesi ile ödemesi yapılacak siparişlerde, her sipariş sonrası doldurulması gereken bir “ödeme
            bildirim formu” vardır. Ödeme bildirim formu, alıcının, satın almış olduğu ürün/ürünlerin tutarını, satıcıya
            ödemiş olduğunu belirten bir form olup satıcı nezdinde bu işlemlerin daha hızlı ve doğru bir şekilde
            yapılmasını sağlar. Alıcının, satıcı hesaplarına ödemesi gereken tutarı havale geçmiş olmasına rağmen bu
            formu doldurmamış olmasından, ya da eksik/hatalı doldurmuş olmasından kaynaklı gecikmelerden BÜYÜK HİDROLİK
            PNÖMATİK İŞ MAKİNALARI OTO YEDEK PARÇA SAN. TİC. LTD. ŞTİ. hiçbir şekilde sorumlu tutulamaz.
        </p>
        <p>
            5.6 Alıcının sipariş ettiği ürünlerin teknik özellikleri asil olarak üreticinin teknik dokümanlarında yer
            almaktadır, üreticinin sunmuş olduğu verilerdeki hata ve yanlışlıklardan www.soyluistif.com.tr sorumlu
            değildir. www.soyluistif.com.tr sitesi üzerinden yayınlanan teknik yada görsel bilgiler tamamen
            müşterilerine kolaylık olması içindir, yayınlanan verilerin uygunluğu tamamen alıcının inisiyatifindedir.
            Satıcının ön bilgilendirmesi garanti anlamına gelmez.
        </p>
        <p>
            5.7 Görselde görünen ürün ile teslim edilen ürün arasında, web ortamı sebebiyle renk, boyut ve yazı
            farklılıkları olabilir. Asıl kriter ürüne ilişkin üretici teknik datalarıdır.
        </p>
        <p>
            5.8 Teknik datalar, üreticileri tarafından belirli zaman aralıklarında güncellenmektedir.
            www.soyluistif.com.tr bu güncellemeleri yakından takip edip siteye yüklese de, stoklarındaki ürünler ile
            uyumluluğunu %100 garanti edemez.
        </p>
        <p>
            5.9 www.soyluistig.com.tr bir web sitesine doğrudan bir link veriyor ise, verilen link in içeriği ve
            kullanımına ilişkin tüm sorumluluk, kullanıcının olup link in kullanımı ve içeriği sebebiyle
            www.soyluistif.com.tr un hiçbir sorumluluğu yoktur.
        </p>
        <p>
            5.10 www.soyluistif.com.tr sitesindeki tüm teknik veriler ve görseller, kullanıcı tarafından herhangi bir
            nedenle veya ticari maksatla kullanılmaz.


        </p>
        <p>
            5.11 www.soyluistif.com.tr dan, mesai saatleri dışında, hafta sonu ve resmi tatillerde veya şirketin bütünün
            ya da belli bir kısmının idari izinli olarak sayıldığı tarihlerde verilen siparişler, ödemelerinin hesaplara
            aktarılmasını takiben ilk iş günü içerisinde işleme alınacaktır.
        </p>
        <p>
            5.12 www.soyluistif.com.tr internet adresinde görünen ürün stokları, aynı anda aynı ürüne farklı kişilerce
            birden fazla sipariş geçilebileceğinden ötürü değişiklik gösterebilir. Dolayısıyla nihai alınabilecek ürün
            stoğu, sepete atılan ürünler değil, sipariş esnasında sistemin onay verdiği ürünler olacaktır.


        </p>
        <p>
            5.13 www.soyluistif.com.tr internet adresinde yapılan alış veriş esnasında döviz kurundaki değişimlerden
            ötürü fiyatlarda anlık dalgalanmalar görülebilir. Bu noktada nihai fiyatlandırma, sipariş onay mailinde
            görünen fiyatlardır.
        </p>
        <p>
            5.14 Web sitesi üzerinde bir mesajlaşma modülü yer almaktadır. Bu modül, SOYLU İSTİF MAKİNALARI ANAONİM
            ŞİRKETİ. nin müşterilerine daha hızlı ve daha etkin bir şekilde hizmet verebilmesini amaçlayarak
            hazırlanmıştır. Bu modülü kullanarak web sitesi üzerindeki trafiğinizi ve web sitesine girişte kullandığınız
            cihaz, tarayıcı, lokasyon, v.b. bilgileri SOYLU İSTİF MAKİNALARI ANAONİM ŞİRKETİ ile paylaşmayı kabul ve
            taahhüt etmiş olursunuz.
        </p>
        <p>
            5.15 www.soyluistif.com.tr üzerindeki teknik datalar kullanıcıların aradıkları ürün hakkında daha rahat
            bilgi toplayabilmesi amacı ile SOYLU İSTİF MAKİNALARI ANAONİM ŞİRKETİtarafından derlenmektedir. Fakat SOYLU
            İSTİF MAKİNALARI ANAONİM ŞİRKETİ bu teknik dataların bahsi geçen ürünleri refere ettiğine yüzde yüz garanti
            veremez. Teknik dataların kullanımı ile alakalı sorumluluk kullanıcının insiyatifindedir.
        </p>
        <p>
            5.16 SOYLU İSTİF MAKİNALARI ANAONİM ŞİRKETİ web siteleri üzerinden kullanıcılarına sunmuş olduğu tüm
            kampanya ve promosyonları her hangi bir duyuruya gerek kalmaksızın iptal etme, değiştirme hakkını saklı
            tutar.


        </p>
        <p>
            5.17 www.soyluistif.com web sitelerinden yapılan alışverişlerde bir “para puan” uygulaması vardır. Bu
            uygulama kapsamında kazanılan para puanların yüzdesi ve kullandırılma şartları tamamen SOYLU İSTİF
            MAKİNALARI ANAONİM ŞİRKETİ insiyatifinde olup, uygulamada değişiklik yapılması ve sonlandırılması hakkı da
            tamamen SOYLU İSTİF MAKİNALARI ANAONİM ŞİRKETİ in insiyatifindedir. Bu belirtilen şartlar ile ilgili
            alıcılara hiçbir uyarı bilgilendirme yapılma şartı yoktur.
        </p>

        <p>
            5.18 Satıcının bahsi geçen www.soyluistif.com üzerinden yaptığı satışlarda “Saat 15:00’ a geçilen
            siparişlerde aynı gün kargo” uygulaması, o anki operasyonel yoğunluk ya da geçilen siparişin kalem adedine
            bağlı olarak gerçekleştirilememesi satıcının sorumluluğunda olmadığı gibi, kargo şirketleri ve diğer dış
            kaynaklı etmenlerden dolayı bu uygulamaya konu olan vaadin yerine getirilememesinden SOYLU İSTİF MAKİNALARI
            ANAONİM ŞİRKETİ sorumlu tutulamaz.
        </p>

        <p>
            5.19 Web sitesi üzerinde bir ürüne dair birden fazla fiyatlandırma bulabilir. Bu durum malzemenin minimum
            adedi ile ilişkilidir. Bir malzemeden minimum adedinin üstündeki alımlarda satıcının belirleyeceği bir
            oranda iskonto uygulanmaktadır.
        </p>
        <p>
            5.20 SOYLU İSTİF MAKİNALARI ANAONİM ŞİRKETİ web siteleri en şekilde Google Chrome web tarayıcısı ile
            çalışmaktadır. Diğer web tarayıcılarından yapılan işlem ve gösterimler ile ilgili hatalardan satıcı sorumlu
            değildir.


        </p>
        <p><strong>Madde 6- Alıcının Hak ve Yükümlülükleri</strong></p>
        <p>6.1. Alıcı, sözleşmede kendisine yüklenen edimleri mücbir sebepler dışında eksiksiz yerine getirmeyi kabul ve
            taahhüt eder.</p>
        <p>6.2. Alıcı, sipariş vermekle birlikte iş sözleşme hükümlerini kabul etmiş sayıldığını ve sözleşmede
            belirtilen ödeme şekline uygun ödemeyi yapacağını kabul ve taahhüt eder.</p>
        <p>
            6.3. Alıcı, www.soyluistif.com.tr internet sitesinden satıcının isim, unvan, açık adres, telefon ve diğer
            erişim bilgileri, satışa konu malın temel nitelikleri, vergiler dahil olmak üzere satış fiyatı, ödeme sekli,
            teslimat koşulları ve masrafları vs. satışa konu mal ile ilgili tüm ön bilgiler ve “cayma” hakkının
            kullanılması ve bu hakkın nasıl kullanılacağı, şikayet ve itirazlarını iletebilecekleri resmi makamlar vs.
            konusunda açık, anlaşılır ve internet ortamına uygun şekilde bilgi sahibi olduğunu bu ön bilgileri
            elektronik ortamda teyit ettiğini kabul ve beyan eder.
        </p>
        <p>
            6.4. Bir önceki maddeye bağlı olarak Alıcı, ürün sipariş ve ödeme koşullarının, ürün kullanım
            talimatlarının, olası durumlara karşı alınan tedbirlerin ve yapılan uyarıların olduğu www.soyluistif.com.tr
            sipariş/ödeme/kullanım prosedürü bilgilerini okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli
            teyidi verdiğini beyan eder.
        </p>
        <p>
            6.5. Alıcı, aldığı ürünü iade etmek istemesi durumunda ne surette olursa olsun ürüne ve ambalajına zarar
            vermemeyi, bandrolünü yırtmamış tahrip etmemiş olmayı, ürünü hiçbir şekilde kullanılmamış olmayı, başka bir
            ürünle değiştirmemiş olmayı, iade anında fatura aslını ve irsaliyesini iade etmeyi kabul ve taahhüt eder.
        </p>
        <p>
            6.6 Herhangi bir kusurdan ötürü iade edilmek istenen ürün şirketimize anlaşmalı kargo şirketi aracılığı ile
            ulaştırıldıktan sonra ürün teknik incelemeye tabi tutulur. Bu inceleme sonucu verilen uygunluk raporuna göre
            ürünün iadesinin kabul edilmesi durumunda, alıcı ile iletişime girilerek ya mevcut başka bir ürün ile
            değişimi sağlanır, ya da para iadesi gerçekleşir. Bu işlemler toplamda 3 ila 15 günlük bir süre zarfını
            kapsar.

        </p>
        <p>
            <strong>Madde 7- Sipariş/Ödeme Prosedürü</strong>
        </p>
        <p>
            7.1 Sipariş: Alışveriş sepetine eklenen ürünlerin KDV dahil TL tutarı (Taksitli işlemlerde toplam taksit
            tutarları) alıcı tarafından onaylandıktan sonra, ilgili banka kartının posu üzerinden işleme alınır.
        </p>
        <p>
            7.2 www.soyluistif.com.tr üzerinden sadece mevcut stokta stoğu görünen malzemelerin siparişi yapılabilir.
            Diğer tüm stok verileri, sadece bilgilendirme amaçlı olup sistem üzerinden satışa kapalıdır. Mevcut stokta
            olmayan ürünlerin siparişi için müşteri temsilcilerini arayabilir ya da info@soyluistif.com.tr a mail
            atabilirsiniz.
        </p>
        <p>7.3 Minimum Sipariş Adedi; Mevcut stokta olan bir ürünün satılabilecek en küçük miktarını tanımlar.
            www.soyluistif.com.tr üzerinden yapılacak alış verişler ürünlerin Minimum Sipariş Adetleri ve katları
            kadar olmalarıdır. Minimum sipariş adedinin altında veya katlarının haricinde her hangi bir satın alım
            yapılamaz.</p>
        <p>
            7.4 Süreçteki herhangi bir aksama durumu ya da kredi kartı ile ilgili ortaya çıkabilecek problemler alıcıya
            sözleşmede belirttiği telefon/faks/e-mail yollarından biri veya bir kaçı kullanılmak sureti ile bildirilir.
            Gerekirse alıcıdan bankası ile görüşmesi istenebilir. Siparişlerin işleme alınma zamanı, siparişin verildiği
            an değil, kredi kartı hesabından gerekli tahsilatın yapıldığı ya da havalenin (EFT’ nin) satıcı hesaplarına
            ulaştığının belirlendiği andır.


        </p>
        <p>
            7.5 İstisnai olarak haklı bir nedenle sözleşme konusu malın tedarik edilemeyeceğinin anlaşılması ve/ veya
            stok problemi ile karşılaşılması durumunda alıcı hemen açık ve anlaşılır bir şekilde bilgilendirilip onay
            vermesi durumunda alıcıya eşit kalitede ve muadili olan aynı fiyatta başka bir mal gönderilebilir ya da
            alıcının arzusu ve seçimi doğrultusunda, yeni başka bir ürün gönderilebilir, ürünün stoklara girmesi ya da
            teslime engel diğer engelin ortadan kalkması beklenebilir ve/veya alıcı veya satıcı tarafından sipariş iptal
            edilebilir.


        </p>
        <p>
            7.6 Sözleşme konusu malın teslim yükümlülüğünün yerine getirilmesinin imkânsızlaştığı hâllerde alıcı bu
            durumdan haberdar edilerek ödemiş olduğu toplam bedel ve varsa onu borç altına sokan her türlü belge en geç
            on gün içinde kendisine iade edilerek sözleşme iptal edilir. Böyle bir durumda alıcının satıcıdan ilave
            herhangi bir maddi ve manevi zarar talebi olmayacaktır.


        </p>
        <p><strong>
                Ödeme:
            </strong></p>
        <p>
            www.soyluistif.com.tr ‘de, internet ortamında kredi kartı bilgilerini kullanmak istemeyen alıcılara nakit
            havale ile sipariş imkanları sunulmuştur. Havale ile ödemede alıcı kendisine en uygun bankayı seçip
            havalesini yapabilir. Eğer EFT yapılmışsa hesaba geçme tarihi dikkate alınacaktır. Havale ve/ veya EFT
            yaparken “Gönderen Bilgilerinin” Fatura Bilgileri ile aynı olması , banka nezdindeki havale açıklama kısmına
            havale sipariş numarasının yazılması ve havale tutarı ile “ödenecek tutarın” birebir aynı olması gereklidir.
            Sipariş verildikten sonra 1 iş günü içerisinde yapılmayan havalelerde sipariş iptal edilir. Banka havalesi
            ile ödemesi yapılacak siparişlerde, her sipariş sonrası doldurulması gereken bir “ödeme bildirim formu”
            vardır. Ödeme bildirim formu, alıcının, satın almış olduğu ürün/ ürünlerin tutarını, satıcıya ödemiş
            olduğunu belirten bir form olup satıcı nezdinde bu işlemlerin daha hızlı ve doğru bir şekilde yapılmasını
            sağlar. Bu formun üzerindeki “Ödeme yapılan banka”, “Ödemeyi gönderen kişi”, “Ödenen tutar” kısımları
            eksiksiz doldurulmalıdır. Alıcının, satıcı hesaplarına ödemesi gereken tutarı havale geçmiş olmasına rağmen
            bu formu doldurmamış olmasından, ya da eksik/hatalı doldurmuş olmasından kaynaklı gecikmelerden SOYLU İSTİF
            MAKİNALARI ANONİM ŞİRKETİ hiçbir şekilde sorumlu tutulamaz.
        </p>
        <p>
            Ürünün tesliminden sonra Alıcı’ya ait kredi kartının Alıcı’nın kusurundan kaynaklanmayan bir şekilde
            yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans
            kuruluşun ürün bedelini Satıcı’ya ödememesi halinde, Alıcı’nın kendisine veya belirlediği şahısa teslim
            edilmiş ürünü 10 gün içinde Satıcı’ya göndermesi zorunludur. Bu tür durumlarda nakliye giderleri Alıcı’ya
            aittir.

        </p>
        <p>
            Alıcı kredi kartı ile ödeme yapmayı tercih etmiş ise ALICI, ilgili faiz oranlarını ve temerrüt faizi ile
            ilgili bilgileri bankasından ayrıca teyit edeceğini, yürürlükte bulunan mevzuat hükümleri gereğince faiz ve
            temerrüt faizi ile ilgili hükümlerin Banka ve ALICI arasındaki “Kredi Kartı Sözleşmesi” kapsamında
            uygulanacağını kabul, beyan ve taahhüt eder.


        </p>
        <p><strong>
                Madde 8- Sevkiyat/Teslimat Prosedürü


            </strong></p>
        <p><strong>
                Sevkiyat:


            </strong></p>
        <p>Sipariş onayından sonra, ürün/ürünler satıcının anlaşmalı olduğu kargo Şirketine verilir.

        </p>
        <p><strong>
                Teslimat:


            </strong></p>
        <p>
            Ürün/ürünler satıcının anlaşmalı olduğu kargo ile alıcının adresine teslim edilecektir. Teslimat süresi,
            Sipariş onayı ile gönderilmesinden ve sözleşmenin kurulmasından itibaren 30 gündür. Alıcıya önceden yazılı
            olarak veya bir sürekli veri taşıyıcısıyla bildirilmek koşuluyla bu süre en fazla on gün uzatılabilir.


        </p>
        <p>
            Türkiye dışındaki teslimatlarda gümrük işlemleri sebebiyle doğabilecek ek süreler ayrıca ilave edilecektir.


        </p>
        <p>
            Alıcı, SOYLU İSTİF MAKİNALARI ANONİM ŞİRKETİ ’ ın teslimat lokasyonuna göre hiçbir neden belirtmeksizin
            satış iptali yapma hakkını saklı tuttuğunu kabul eder. Ürünler, Kargo şirketlerinin adres teslimatı
            yapmadığı bölgelere telefon ihbarlı olarak gönderilir.
        </p>

        <p>
            Kargo Şirketinin haftada bir gün teslimat yaptığı bölgelerde, sevk bilgilerindeki yanlışlık ve eksiklik
            olduğu hallerde, bazı sosyal olaylar ve doğal afetler gibi durumlarda belirtilen gün süresinde sarkma
            olabilir. Bu sarkmalardan dolayı alıcı satıcıya herhangi bir sorumluluk yükleyemez. Ürün, Alıcı’dan başka
            bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden, sevk
            bilgilerindeki yanlışlık ve/veya Alıcının yerinde olmamasından doğabilecek ekstra kargo bedellerinden ve
            gecikmelerden alıcı sorumlu olup, satıcı sorumlu değildir. Belirtilen günler içeriğinde ürün/ürünler
            müşteriye ulaşmadıysa teslimat problemleri müşteri hizmetlerine info@soyluistif.com.tr e-mail adresi
            kullanılmak sureti ile derhal bildirilmelidir. Zarar görmüş paket durumunda; Zarar görmüş paketler teslim
            alınmayarak Kargo Şirketi yetkilisine tutanak tutturulmalıdır. Eğer Kargo Şirketi yetkilisi paketin hasarlı
            olmadığı görüşünde ise, paketin orada açılarak ürünlerin hasarsız teslim edildiğini kontrol ettirme ve
            durumun yine bir tutanakla tespit edilmesini isteme hakkı alıcıda vardır. Paket Alıcı tarafından teslim
            alındıktan sonra Kargo Şirketinin görevini tam olarak yaptığı kabul edilmiş olur. Paket kabul edilmemiş ve
            tutanak tutulmuş ise, durum, tutanağın Alıcı’da kalan kopyasıyla birlikte en kısa zamanda satıcı Müşteri
            Hizmetlerine bildirilmelidir.
        </p>
        <p><strong>
                Madde 9- Ürün İade ve Cayma Hakkına İlişkin Prosedürü


            </strong></p>
        <p>
            www.soyluistif.com.tr üzerinden satın alınan ürünlerde aşağıdaki şartlar dahilinde cayma veya iade hakları
            söz konusudur.

        </p>
        <p>
            9.1. 6502 sayılı Tüketicinin Korunması Hakkında Kanun kapsımda alıcının, satın aldığı ürün / ürünleri kargo
            firmasından teslim aldıktan sonra hiçbir koşul belirtmeksizin 14 gün içerisinde cayma hakkını kullanarak
            iade edebilme hakkı vardır. . Bu kapsamda iade edilmek istenen ürün / ürünlerin satıcıya gönderimi
            esnasında, satıcının anlaşmalı olduğu kargo şirketi aracılığı ile yapılırsa alıcı hiçbir kargo ücreti
            ödemeyecektir.
        </p>
        <p>
            İade kapsamındaki koşullar aşağıdaki gibidir,
        </p>
        <ul class="list-disc pl-5">
            <li>Kargo firmasının siparişi alıcıya tesliminden itibaren en geç 14 gün içerisinde yapılmalıdır.</li>
            <li> 385 sayılı vergi usul kanunu genel tebliği uyarınca mutlak suretle ürün/ürünlerin faturasını alt
                kısmındaki iade bölümlerini eksiksiz bir şekilde doldurup imzalayarak, varsa sevk irsaliyesi ile
                birlikte cayma tebligatını yaptığı tarih itibari ile 10 gün içerisinde göndermelidir. (İade edilmek
                istenen ürünün faturası kurumsal ise, iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte
                gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri İADE FATURASI
                kesilmediği takdirde tamamlanamayacaktır.)</li>
            <li>Orijinal ambalajlarının ve/veya SOYLU İSTİF MAKİNALARI ANONİM ŞİRKETİ tarafından hazırlanan ambalajların
                hiçbir şeklide açılmamış, bozulmamış olması ve yırtılmamış, tahrip edilmemiş olması gerekmektedir.</li>
            <li>Açıkça müşterinin özel ihtiyaçları doğrultusunda hazırlanmış ürünlerin (custom design) iadesi mümkün
                değildir.</li>
        </ul>
        <p>
            9.2. Yukarıdaki koşulların sağlanması durumunda iade edilecek ürün/ürünler SOYLU İSTİF MAKİNALARI ANONİM
            ŞİRKETİ ve gerekirse ürünlerin üreticileri tarafından incelenip iadeye uygun olup olmadıkları
            değerlendirilir. Bu işlemin süresi 1-15 gündür. Ürünleri iadesine uygun olduğunun değerlendirilmesi
            takdirinde ürün bedeli, alıcıya hangi ödeme aracı ile satın alım yapmışsa o şekilde geri ödenir. Bunun da
            süresi maksimum 10 gündür. Kredi kartlarında bankadan kaynaklı gecikmelerden dolayı SOYLU İSTİF MAKİNALARI
            ANONİM ŞİRKETİ sorumlu değildir.
        </p>
        <p>
            9.3. Teslim alınmış olan malın değerinin azalması veya iadeyi imkânsız kılan bir nedenin varlığı cayma
            hakkının kullanılmasına engel değildir. Ancak değer azalması veya iadenin imkânsızlaşması tüketicinin
            kusurundan kaynaklanıyorsa satıcıya malın değerini veya değerindeki azalmayı tazmin etmesi gerekir. Satıcı,
            alıcı tarafından gönderilen malın iadesinin imkansızlaştığını düşünüyorsa, bu durumu malı teslim aldığı
            tarihten en geç 3 gün içerisinde alıcıya bildirmelidir.
        </p>
        <p>
            9.4. Kart ile alınmış mal ve hizmetin iadesi durumunda satıcı, Banka ile yapmış olduğu sözleşme gereği
            alıcıya nakit para ile ödeme yapamaz. Üye işyeri yani satıcı, bir iade işlemi söz konusu olduğunda ilgili
            yazılım aracılığı ile iadesini yapacak olup, üye işyeri yani satıcı ilgili tutarı Bankaya nakden veya
            mahsuben ödemekle yükümlü olduğundan yukarıda detayları belirtilen prosedür gereğince alıcıya nakit olarak
            ödeme yapılamamaktadır. Kredi kartına iade, alıcının Bankaya bedeli tek seferde ödemesinden sonra, Banka
            tarafından yukarıdaki prosedür gereğince yapılacaktır.
        </p>
        <p>
            9.5. 6502 Sayılı yasa kapsamı dışındaki Ticari nitelikteki işlerde ayıp, gizli ayıp veya iadeye ilişkin
            hususlarda Türk Ticaret Kanununu hükümleri geçerli olacaktır.
        </p>
        <p><strong>
                Madde 10-Garanti
            </strong></p>
        <p>
            www.soyluistif.com.tr , sadece üreticilerinden aldığı ürünlerin devredilebilecek üretici garantileri
            olmaları durumunda, üreticinin belirleyebileceği bir süre dahilinde garanti sürecini başlatabilmek adına
            alıcıya yardımcı olur. Bu noktada alıcı, iade etmek istediği bozuk/kusurlu ürünü satıcıya ulaştırmalıdır.
            Taklid, imitasyon veya orjinal olmayan ürünün, orjinali yerine iade edilmek istendiğinin anlaşılması
            durumunda yürürlükteki kanunların gerektirdiği işlemleri yapmakta özgürdür. Bu noktada tüm sorumluluk
            alıcıya aittir. www.soyluistif.com.tr un Üreticiler haricinde tedarik ettiği ürünlerde ise somut ve müspet
            bir garanti uygulaması yoktur. Bu durumda garanti tamamen satıcının insiyatifindedir. Bu koşullar altında
            doğabilecek her türlü talep neticesinde www.soyluistif.com.tr sorumlu değildir. Satıcının garanti
            sorumluluğu yalnızca 6502 sayılı kanun kapsamına giren tüketiciler için geçerlidir. Ticari nitelikteki işler
            için Türk Ticaret Kanununu hükümleri geçerli olacaktır.

        </p>
        <p><strong>
                Madde 11- Gizlilik
            </strong></p>
        <p>
            Alıcı tarafından iş bu sözleşmede belirtilen bilgiler ile ödeme yapmak amacı ile satıcıya bildirdiği
            bilgiler satıcı tarafından 3. şahıslarla paylaşılmayacaktır.


        </p>
        <p>
            Satıcı bu bilgileri sadece idari/ yasal zorunluluğun mevcudiyeti çerçevesinde açıklayabilecektir. Araştırma
            ehliyeti belgelenmiş her türlü adli soruşturma dahilinde satıcı kendisinden istenen bilgiyi elinde
            bulunduruyorsa ilgili makama sağlayabilir. Kredi Kartı bilgileri kesinlikle saklanmaz. Kredi Kartı bilgileri
            sadece tahsilat işlemi sırasında ilgili bankalara güvenli bir şekilde iletilerek provizyon alınması için
            kullanılır ve provizyon sonrası sistemden silinir.

        </p>
        <p>
            Alıcıya ait e-posta adresi, posta adresi ve telefon gibi bilgiler yalnızca satıcı tarafından standart ürün
            teslim ve bilgilendirme prosedürleri için kullanılır. Bazı dönemlerde kampanya bilgileri, yeni ürünler
            hakkında bilgiler, promosyon bilgileri alıcıya onayı sonrasında gönderilebilir. Sitenin güvenliğinin veya
            kullanım koşullarının kullanıcı tarafından suç teşkil edecek ihlali hallerinde, ilgili kişinin teşhis ve
            kovuşturmaya yarayacak bilgileri emniyet güçleri ile paylaşılacaktır.

        </p>
        <p>
            Siparişin gerçekleşmesi durumunda Alıcı işbu sözleşmenin tüm koşullarını kabul etmiş sayılır. …/…/…
            <br>
            Satıcı
            <br>
            Alıcı
            <br>
            SOYLU İSTİF MAKİNALARI ANONİM ŞİRKETİ
        </p>
    </div>
</div>