<footer>
    <div class="container">
        <span href="" class="">
            Soylu İstif Makinaları A.Ş. © 2025 Tüm Hakları Saklıdır.
        </span>
        <img src="/assets/eticsites/cards.png" style="height: 25px;" alt="">
    </div>

</footer>