{{> seoheader}}
<div class="container">
    <article>
        <h1>İletişim</h1>
        <h2>Ünvan</h2>
        <p>SOYLU İSTİF MAKİNALARI ANONİM ŞİRKETİ</p>
        <h2>
            TİCARİ SİCİL NUMARASI
        </h2>
        <p>436165</p>
        <h2>TELEFON</h2>
        <p>
            +905318686670
        </p>
        <h2>
            EMAİL
        </h2>
        <p>info@soyluistif.com.tr

        </p>
    </article>

</div>

{{> seofooter}}