{{> seoheader}}
<div class="container">
    <div class="grdarea">
        {{#each urunlerRs}}
        <div class="urunitem">
            <a href="/urun/{{url}}">
                <img src="{{resim}}" class="w-[50px] h-[50px]" width="50" height="50" alt="">
                <span> {{name}}</span>
                
            </a>
        </div>
        {{/each}}
    </div>
</div>

{{> seofooter}}
