{{>header}}
<div>
    <div class="">
        <div class="max-w-[--max-w] mx-auto ">
            <div class="py-2 font-semibold text-[1rem]">
                Ödeme
            </div>
        </div>
    </div>
    <hr>
    <div class="bg-black/5">
        <div class="max-w-[--max-w] mx-auto ">
            <div class="py-7 px-5  text-center flex items-center justify-center space-x-5 font-semibold text-[1.4rem]">
                <button class="text-black pointer-events-auto hidden md:inline-block">Sepet Onay</button>
                <span clasS="tio text-[1.4rem] hidden md:inline-block">chevron_right</span>
                <button class="text-black pointer-events-auto hidden md:inline-block">Sipariş Bilgileri</button>
                <span clasS="tio text-[1.4rem] hidden md:inline-block">chevron_right</span>
                <button class="text-orange-600  pointer-events-auto">Ödeme</button>
            </div>
        </div>
    </div>
    <div class="relative">
        <div class="max-w-[--max-w] mx-auto py-5">
           <div class="spetbfyRight  "></div>
        </div>

        <div style="display: none;"  class="spnte absolute top-0 left-0 w-full h-full bg-white/70 flex items-center justify-center">
            <div class="spin icon-spin-1 icon-steps1 text-orange-600 text-[2.4rem]"></div>
        </div>
    </div>

</div>
{{>footer}}
